html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

:root {
    --font-size: 18px;
    --primary-font: "Montserrat", sans-serif;
    --primary-color: hsl(220, 98%, 61%);
    --secondary-color: hsl(0, 63%, 45%);
    --background-color: rgb(16, 12, 32);
    --text-color: rgb(225, 225, 225);
    --hover-color: rgb(29, 22, 57);
    --background-gradient: linear-gradient(
        to right,
        hsl(246, 70%, 25%),
        hsl(201, 100%, 30%)
    );
    --border: 1px solid rgb(56, 56, 56);
}

html {
    font-family: var(--primary-font);
    background-color: var(--background-color);
    color: var(--text-color);
}

h1 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
}

#title {
    font-size: 1.5rem;
    margin-bottom: 2.8rem;
}

header {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#start {
    padding: 25px 65px;
    font-size: 1rem;
    color: var(--text-color);
    background-color: var(--background-color);
    border-radius: 15px;
    font-family: var(--primary-font);
    border: var(--border);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

#start:hover {
    background: var(--background-gradient);
    transform: translateY(-10px);
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.8);
    border: none;
}

/* Code for spinning rainbow from: https://www.coding2go.com */
#heading {
    margin: 0 auto;
    padding: 3rem;
    width: 330px;
    background: #1c1f2b;
    text-align: center;
    border-radius: 10px;
    position: relative;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(35, 35, 67);
    padding: 30px 0px;
    border-radius: 20px;
    width: 350px; */
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

#heading::after,
#heading::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(
        from var(--angle),
        var(--background-color),
        hsl(246, 85%, 48%),
        var(--background-color),
        hsl(201, 100%, 45%),
        var(--background-color)
    );
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 3px;
    border-radius: 10px;
    animation: 3s spin linear infinite;
}
#heading::before {
    filter: blur(1.5rem);
    opacity: 0.5;
}
@keyframes spin {
    from {
        --angle: 0deg;
    }
    to {
        --angle: 360deg;
    }
}

.introText {
    font-size: 2rem;
    color: var(--text-color);
    text-align: center;
}

#questions {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(35, 35, 67);
    border-radius: 20px;
    width: 80%;
    height: 95%;
    max-width: 1000px;
    max-height: 1150px;
    text-align: center;
    position: relative;
}

#questionsWrapper {
    height: 100vh;
    display: none;
    align-items: center;
    justify-content: center;
}

.hidden {
    display: none;
}

#questions h2 {
    font-size: 1.7rem;
    border-bottom: 2px solid white;
    width: 80%;
    padding: 1rem;
}

#question {
    font-size: 1.3rem;
    margin: 1rem;
}

#answers {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.answerBtns {
    width: 80%;
    height: 20%;

    font-size: 1.2rem;
    text-align: center;
    color: var(--text-color);
    background-color: var(--background-color);
    font-family: var(--primary-font);
    border-radius: 20px;
    border: var(--border);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.answerBtns:hover {
    background: var(--background-gradient);
    transform: translateY(-10px);
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.8);
    border: none;
    cursor: pointer;
}

#next {
    font-family: var(--primary-font);
    border-radius: 20px;
    border: var(--border);
    display: none;
    align-items: center;
    padding: 4%;

    font-size: 1rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#next svg {
    height: 20px;
    width: 20px;
}

#next:hover {
    background-color: var(--background-color);
    color: white;
    cursor: pointer;
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.8);
    transform: translateY(-10px);
}

#restart {
    font-family: var(--primary-font);
    border-radius: 20px;
    font-size: 1rem;
    border: var(--border);
    display: none;
    align-items: center;
    padding: 4%;

    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#restart svg {
    height: 20px;
    width: 20px;
}

#restart:hover {
    background-color: var(--background-color);
    color: white;
    cursor: pointer;
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.8);
    transform: translateY(-10px);
}

#otherBtns {
    display: flex;
    justify-content: space-around;
    width: 80%;
}

#progressContainer {
    background-color: var(--background-color);
    width: 80%;
    padding: 10px;
    border-radius: 20px;
    overflow: hidden;
    position: absolute;
    bottom: 10px;
}

#progressBar {
    width: 0%;
    background: var(--background-gradient);
    height: 10px;
    border-radius: 20px;
    transition: width 0.5s ease;
}

.clicked {
    background-color: white;
    color: var(--background-color);
    transition: all 0.2s ease;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
        rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.clicked:hover {
    background-color: white;
    background: white;
    transform: none;
}

@media screen and (min-width: 768px) {
    #questions h2 {
        font-size: 3rem;
        padding: 1.5rem;
    }

    #question {
        font-size: 2rem;
        margin: 2rem;
    }

    #answers {
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 65%;
        gap: 20px;
        width: 80%;
    }

    .answerBtns {
        width: 100%;
        height: 100%;
        font-size: 1.7rem;
    }

    #next {
        font-size: 1.3rem;
    }

    #restart {
        font-size: 1.3rem;
    }
}
