html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

:root {
    --font-size: 18px;
    --primary-font: "Montserrat", sans-serif;
    --primary-color: hsl(220, 98%, 61%);
    --secondary-color: hsl(0, 63%, 45%);
    --background-color: rgb(16, 12, 32);
    --text-color: rgb(225, 225, 225);
    --hover-color: rgb(29, 22, 57);
    --background-gradient: linear-gradient(
        to right,
        hsl(246, 70%, 25%),
        hsl(201, 100%, 30%)
    );
    --border: 1px solid rgb(56, 56, 56);
    --light-purple: rgb(67, 67, 67);
    --dark-gray: #292929;
    --light-gray: #a7a7a7;
}

html {
    font-family: var(--primary-font);
    background-color: var(--background-color);
    color: var(--text-color);
}

h1 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
}

#title {
    font-size: 1.5rem;
    margin-bottom: 2.8rem;
}

header {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#start {
    padding: 25px 65px;
    font-size: 1rem;
    color: var(--text-color);
    background-color: var(--background-color);
    border-radius: 15px;
    font-family: var(--primary-font);
    border: var(--border);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

#start:hover {
    background: var(--background-gradient);
    transform: translateY(-10px);
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.8);
    border: none;
}

/* Code for spinning rainbow from: https://www.coding2go.com */
#heading {
    margin: 0 auto;
    padding: 3rem;
    min-width: 130px;
    background: var(--light-purple);
    text-align: center;
    border-radius: 10px;
    position: relative;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(35, 35, 67);
    padding: 30px 0px;
    border-radius: 20px;
    width: 350px; */
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

#heading::after,
#heading::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(
        from var(--angle),
        var(--background-color),
        hsl(246, 85%, 48%),
        var(--background-color),
        hsl(201, 100%, 45%),
        var(--background-color)
    );
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 3px;
    border-radius: 10px;
    animation: 3s spin linear infinite;
}
#heading::before {
    filter: blur(1.5rem);
    opacity: 0.5;
}
@keyframes spin {
    from {
        --angle: 0deg;
    }
    to {
        --angle: 360deg;
    }
}

.introText {
    font-size: 2rem;
    color: var(--text-color);
    text-align: center;
    margin: 3rem;
}

#questions {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--light-purple);
    border-radius: 20px;
    width: 80%;
    height: 85%;
    max-width: 1000px;
    max-height: 1150px;
    text-align: center;
    position: relative;
}

#questionsWrapper {
    height: 100vh;
    display: none;
    align-items: flex-start;
    justify-content: center;
    margin-top: 20px;
}

.hidden {
    display: none;
}

#questions h2 {
    font-size: 1.7rem;
    border-bottom: 2px solid white;
    width: 80%;
    padding: 1rem;
}

#question {
    font-size: 1.3rem;
    margin: 1rem;
}

#answers {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.answerBtns {
    width: 80%;
    height: 20%;

    font-size: 1.2rem;
    text-align: center;
    color: var(--text-color);
    background-color: var(--background-color);
    font-family: var(--primary-font);
    border-radius: 20px;
    border: var(--border);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.answerBtns:hover {
    background: var(--background-gradient);
    transform: translateY(-10px);
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.8);
    border: none;
    cursor: pointer;
}

#next {
    font-family: var(--primary-font);
    border-radius: 20px;
    border: var(--border);
    display: none;
    align-items: center;
    padding: 4%;

    font-size: 1rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    color: #000000;
}

#next svg {
    height: 20px;
    width: 20px;
    margin-left: 5px;
}

#next:hover {
    background-color: var(--background-color);
    color: white;
    cursor: pointer;
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.8);
    transform: translateY(-10px);
}

#restart {
    font-family: var(--primary-font);
    border-radius: 20px;
    font-size: 1rem;
    border: var(--border);
    display: none;
    align-items: center;
    padding: 4%;

    transition: transform 0.3s ease, box-shadow 0.3s ease;
    color: #000000;
}

#restart svg {
    height: 20px;
    width: 20px;
    margin-left: 5px;
}

#restart:hover {
    background-color: var(--background-color);
    color: white;
    cursor: pointer;
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.8);
    transform: translateY(-10px);
}

#otherBtns {
    display: flex;
    justify-content: space-around;
    width: 80%;
    position: absolute;
    bottom: 8%;
}

#progressContainer {
    background-color: var(--background-color);
    width: 80%;
    padding: 10px;
    border-radius: 20px;
    overflow: hidden;
    position: absolute;
    bottom: 10px;
}

#progressBar {
    width: 0%;
    background: var(--background-gradient);
    height: 10px;
    border-radius: 20px;
    transition: width 0.5s ease;
}

.clicked {
    background-color: white;
    color: var(--background-color);
    transition: all 0.2s ease;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
        rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.clicked:hover {
    background-color: white;
    background: white;
    transform: none;
}

#recommendedPlans {
    display: flex;
    width: 100%;
    max-width: 1100px;
    height: 100%;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 1.5rem;
}

#plansWrapper {
    /* change */
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#planHead {
    /* change */
    display: none;
    background: var(--background-gradient);
    font-size: 2rem;
    text-align: center;
    padding: 1.5rem;
}

.plan {
    width: 220px;
    height: 550px;
    background-color: var(--light-purple);
    margin: 0.5rem;
    border: 1px solid #68af85;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    text-align: center;
    transform: translateX(-100%);
    opacity: 0;
    animation: scrollIn 0.5s forwards;
}

@keyframes scrollIn {
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.plan.seen {
    opacity: 1;
    transform: translateX(0);
    animation: none;
}

.plan:nth-child(1) {
    animation-delay: 0.1s;
}
.plan:nth-child(2) {
    animation-delay: 0.3s;
}
.plan:nth-child(3) {
    animation-delay: 0.5s;
}
.plan:nth-child(4) {
    animation-delay: 0.7s;
}
.plan:nth-child(5) {
    animation-delay: 0.9s;
}
.plan:nth-child(6) {
    animation-delay: 1.1s;
}
.plan:nth-child(7) {
    animation-delay: 1.3s;
}
.plan:nth-child(8) {
    animation-delay: 1.5s;
}

.plan:nth-child(9) {
    animation-delay: 1.7s;
}

.plan:nth-child(10) {
    animation-delay: 1.9s;
}

.plan:nth-child(11) {
    animation-delay: 2.1s;
}

.plan:nth-child(12) {
    animation-delay: 2.3s;
}

.plan:nth-child(13) {
    animation-delay: 2.5s;
}

.plan:nth-child(14) {
    animation-delay: 2.7s;
}

.plan:nth-child(15) {
    animation-delay: 2.9s;
}

.plan:nth-child(16) {
    animation-delay: 3.1s;
}

.plan svg {
    height: 20px;
    width: auto;
}

.cardHead {
    text-align: center;
    padding: 0.8rem;
    font-size: 1rem;
    font-weight: 550;
}

.subHead {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--dark-gray);
    padding: 0.3rem;
}

.lines svg,
.network svg {
    margin-right: 5px;
}

.mint {
    background-color: #68af85;
}

.visible {
    background-color: #2600ff;
}

.usMobile {
    background-color: #d9484c;
}

.boost {
    background-color: #ec622b;
}

.tello {
    background-color: #0d84d9;
}

.verizon {
    background-color: #d52b1e;
}

.tMobile {
    background-color: #e20074;
}

.att {
    background-color: #469dd6;
}

.metro {
    background-color: #6e32a0;
}

.redPocket {
    background-color: #aa0808;
}

.firstNet {
    background-color: #000000;
}

.helium {
    background-color: #ff7526;
}

.cricket {
    background-color: #5fa62e;
}

.ultra {
    background-color: #6e32a0;
}

.mobileX {
    background-color: #50f40d;
}

.mobileXBorder {
    border: 2px solid #50f40d;
}

.ultraBorder {
    border: 2px solid #6e32a0;
}

.mintBorder {
    border: 2px solid #68af85;
}

.cricketBorder {
    border: 2px solid #5fa62e;
}

.visibleBorder {
    border: 2px solid #2600ff;
}

.usMobileBorder {
    border: 2px solid #d9484c;
}

.boostBorder {
    border: 2px solid #ec622b;
}

.telloBorder {
    border: 2px solid #0d84d9;
}

.verizonBorder {
    border: 2px solid #d52b1e;
}

.tMobileBorder {
    border: 2px solid #e20074;
}

.attBorder {
    border: 2px solid #469dd6;
}

.metroBorder {
    border: 2px solid #6e32a0;
}

.redPocketBorder {
    border: 2px solid #aa0808;
}

.firstNetBorder {
    border: 2px solid #000000;
}

.heliumBorder {
    border: 2px solid #ff7526;
}

.lines,
.network {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
}

.lines svg,
.network svg {
    height: 15px;
    width: auto;
}

.tax {
    text-align: center;
    padding-bottom: 1rem;
}

.tax::after {
    content: "";
    width: 90%;
    position: absolute;
    background-color: lightgray;
    height: 2px;
    bottom: 402px;
    transform: translateX(-50%);
    left: 50%;
}

.priceNtax {
    text-align: center;
    margin: 1rem;
}

.price {
}

.largePrice {
    font-size: 2rem;
}

.tax {
    color: var(--light-gray);
}

.highSpeed {
    font-size: 2rem;
    margin-bottom: 0.3rem;
}

.afterHighSpeed {
    margin-bottom: 1.3rem;
    font-size: 0.9rem;
}

.priority svg,
.hotspot svg,
.streaming svg,
.texts svg,
.calls svg,
.intTexts svg,
.intCalls svg,
.mexData svg,
.intData svg {
    height: 15px;
    margin-right: 5px;
}

.priority,
.hotspot,
.streaming,
.texts,
.calls,
.intTexts,
.intCalls,
.mexData,
.intData {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    margin: 0.4rem;
}

.priority {
}

.hotspot {
}

.streaming {
    margin-bottom: 1.9rem;
}

.streaming::after {
    content: "";
    width: 90%;
    position: absolute;
    background-color: lightgray;
    height: 2px;
    bottom: 240px;
    transform: translateX(-50%);
    left: 50%;
}

.texts {
}

.calls {
    margin-bottom: 1.8rem;
}

.calls::after {
    content: "";
    width: 90%;
    position: absolute;
    background-color: lightgray;
    height: 2px;
    bottom: 174px;
    transform: translateX(-50%);
    left: 50%;
}

.intTexts {
}

.intCalls {
}

.mexData {
}

.intData {
}

.linkBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    background-color: white;
    border: var(--border);
    border-radius: 10px;
    margin: 0 auto;
    background-color: #ebebeb;
    position: absolute;
    bottom: 10px;
    left: 11px;
    font-size: 0.8rem;
    text-align: left;
}

.linkBtn:hover {
    background-color: #ffffff;
    cursor: pointer;
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.8);
}

.linkBtn svg {
    color: black;
    position: absolute;
    right: 9px;
    bottom: 17px;
    pointer-events: none;
}

.planLink {
    text-decoration: none;
    font-family: var(--primary-font);
    color: black;

    padding: 18px;
    width: 100%;
    height: 100%;
}

#loadBtn {
    font-family: var(--primary-font);
    text-align: center;
    border: var(--border);
    font-size: 1.6rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 10px;
    margin-top: 2rem;
    padding: 10px 20px;
    color: black;
}

#loadBtn:hover {
    background-color: var(--background-color);
    color: white;
    cursor: pointer;
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.8);
    transform: translateY(-10px);
}

@media screen and (min-width: 768px) {
    #heading {
        padding: 6rem;
    }

    h1 {
        font-size: 4rem;
    }

    #title {
        font-size: 1.9rem;
    }

    .introText {
        font-size: 2.5rem;
    }

    #start {
        font-size: 2rem;
    }

    #questions h2 {
        font-size: 3rem;
        padding: 1.5rem;
    }

    #question {
        font-size: 2rem;
        margin: 2rem;
    }

    #questions {
        height: 95%;
    }

    #questionsWrapper {
        align-items: center;
        margin: 0;
    }

    #answers {
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 65%;
        gap: 20px;
        width: 80%;
    }

    .answerBtns {
        width: 100%;
        height: 100%;
        font-size: 1.7rem;
    }

    #next,
    #restart {
        font-size: 1.3rem;
        margin-top: 4%;
        margin-bottom: 10%;
    }

    #otherBtns {
        display: flex;
        justify-content: space-around;
        width: 80%;
        position: relative;
        bottom: 0;
    }

    #planHead {
        font-size: 3.5rem;
        padding: 2rem;
    }

    #recommendedPlans {
    }
}

@media screen and (min-width: 1080px) {
    #recommendedPlans {
    }
}
